@using Nop.Plugin.Api.Infrastructure
@model Nop.Plugin.Api.Areas.Admin.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")

<form asp-controller="ApiAdmin" asp-action="Settings" method="post">
    <div class="cards-group">
        <div class="card card-default">
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-3">
                        <nop-override-store-checkbox asp-for="EnableApi_OverrideForStore" asp-input="EnableApi" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="EnableApi" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="EnableApi" />
                        <span asp-validation-for="EnableApi"></span>
                    </div>
                </div>

                <div id="pnlPluginConfiguration">
                    <div class="form-group row advanced-setting">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="TokenExpiryInDays_OverrideForStore" asp-input="TokenExpiryInDays" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="TokenExpiryInDays" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="TokenExpiryInDays" />
                            <span asp-validation-for="TokenExpiryInDays"></span>
                        </div>
                    </div>

         @*           <div class="form-group row advanced-setting">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="OtpRequiredOnRegistration_OverrideForStore" asp-input="OtpRequiredOnRegistration" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="OtpRequiredOnRegistration" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="OtpRequiredOnRegistration" />
                            <span asp-validation-for="OtpRequiredOnRegistration"></span>
                        </div>
                    </div>*@

                    <div class="form-group row advanced-setting">
                        <div class="col-md-3">
                            <nop-override-store-checkbox asp-for="Restricted_PaymentMethodsSystemNames_OverrideForStore" asp-input="Restricted_PaymentMethodsSystemNames" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                            <nop-label asp-for="Restricted_PaymentMethodsSystemNames" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Restricted_PaymentMethodsSystemNames" />
                            <span asp-validation-for="Restricted_PaymentMethodsSystemNames"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            &nbsp;
                        </div>
                        <div class="col-md-9">
                            <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        $("#@Html.IdFor(model => model.EnableApi)").click(toggleEnablePlugin);
        toggleEnablePlugin();
    });

    function toggleEnablePlugin() {
        if ($('#@Html.IdFor(model => model.EnableApi)').is(':checked')) {
            $('#pnlPluginConfiguration').show();
        } else {
            $('#pnlPluginConfiguration').hide();
        }
    }
</script>
