@model AssociatedProductModel

@using Nop.Core.Domain.Catalog
@using Nop.Services

@{
    NopHtml.SetActiveMenuItemSystemName("Products");
    ViewBag.PageTitle = T("Alchub.Admin.Catalog.Product.AssociatedProduct.EditAssociatedProductDetails").Text;
}

<form asp-controller="MasterProduct" asp-action="AssociatedProductEdit" id="associatedproduct-form" method="post">
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Alchub.Admin.Catalog.Product.AssociatedProduct.EditAssociatedProductDetails").Text
            <small>
                <i class="fas fa-arrow-circle-left"></i>
                <a asp-action="Edit" asp-route-id="@Model.BaseProductId">
                    @T("Alchub.Admin.Catalog.Product.AssociatedProduct.EditAssociatedProductDetails.BackToProduct")
                </a>
            </small>
        </h1>
        <div class="float-right">
            <button type="submit" name="save" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn btn-primary">
                <i class="far fa-save"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                    <div class="card card-default">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="ProductName" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="ProductName" html-attributes="@(new { disabled = true })" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="Size" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="Size" asp-items="Model.AvailableSize" />
                                    <span asp-validation-for="Size"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="Container" />
                                </div>
                                <div class="col-md-9">
                                    <nop-select asp-for="Container" asp-items="Model.AvailableContainer" />
                                    <span asp-validation-for="Container"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <nop-label asp-for="DisplayOrder" />
                                </div>
                                <div class="col-md-9">
                                    <nop-editor asp-for="DisplayOrder" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <input asp-for="Id" hidden="hidden" />
    <input asp-for="BaseProductId" hidden="hidden" />
</form>
