@model FooterModel
@namespace System.Text.Encodings.Web
@using Nop.Core
@using Nop.Core.Domain.Tax

@inject IWorkContext workContext

<div class="footer">
    <div class="footer-upper">
        <div class="row">

            <div class="col-12 col-lg-3 col-sm-12 px-0">

                <div class="footer-block information">
                    <div class="title">
                        <strong>@T("Footer.about")</strong>
                    </div>
                    <ul class="list">
                        @if (Model.SitemapEnabled && Model.DisplaySitemapFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("Sitemap")">@T("Sitemap")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
                        {
                            @*Store finder link in footer - redirect to favorite. Its topic page, so lets handle custom way.*@
                            var url = Url.RouteUrl("Topic", new { SeName = topic.SeName });
                            if(topic.SeName.Equals("store-finder"))
                            {
                                //assign favorite url
                                url = Url.RouteUrl("CustomerFavorite");
                            }
                            <li><a href="@url">@topic.Name</a></li>
                        }
                        @if (Model.DisplayContactUsFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-12 px-0">

                <div class="footer-block customer-service">
                    <div class="title">
                        <strong>@T("footer.support")</strong>
                    </div>
                    <ul class="list">
                        @if (Model.SearchEnabled && Model.DisplayProductSearchFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                        }
                        @if (Model.NewsEnabled && Model.DisplayNewsFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("NewsArchive")">@T("News")</a></li>
                        }
                        @if (Model.BlogEnabled && Model.DisplayBlogFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                        }
                        @if (Model.ForumEnabled && Model.DisplayForumsFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                        }
                        @if (Model.RecentlyViewedProductsEnabled && Model.DisplayRecentlyViewedProductsFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("RecentlyViewedProducts")">@T("Products.RecentlyViewedProducts")</a></li>
                        }
                        @if (Model.CompareProductsEnabled && Model.DisplayCompareProductsFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CompareProducts")">@T("Products.Compare.List")</a></li>
                        }
                        @if (Model.NewProductsEnabled && Model.DisplayNewProductsFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn2).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                        }
                        @if (Model.AllowCustomersToCheckGiftCardBalance)
                        {
                            <li><a href="@Url.RouteUrl("CheckGiftCardBalance")">@T("CheckGiftCardBalance")</a></li>
                        }
                    </ul>
                </div>

                <div class="footer-block contact-us">
                    <div class="title">
                        <strong>Contact Us</strong>
                    </div>
                    <ul class="list">
                        <li>
                            <a href="javascript:void(0)" class="number">@T("Alchub.Footer.Phone.Number")</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="email">@T("Alchub.Footer.Email")</a>
                        </li>
                    </ul>
                </div>


            </div>

            <div class="col-12 col-lg-3 col-sm-12 px-0">

                <div class="footer-block my-account">
                    <div class="title">
                        <strong>@T("Footer.partnerwithus")</strong>
                    </div>
                    <ul class="list">
                        @if (Model.DisplayCustomerInfoFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                        }
                        @if (Model.DisplayCustomerOrdersFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CustomerOrders")">@T("Account.CustomerOrders")</a></li>
                        }
                        @if (Model.DisplayCustomerAddressesFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("CustomerAddresses")">@T("Account.CustomerAddresses")</a></li>
                        }
                        @if (Model.ShoppingCartEnabled && Model.DisplayShoppingCartFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("ShoppingCart")">@T("ShoppingCart")</a></li>
                        }
                        @if (Model.WishlistEnabled && Model.DisplayWishlistFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("Wishlist")">@T("Wishlist")</a></li>
                        }
                        @if (Model.AllowCustomersToApplyForVendorAccount && Model.DisplayApplyVendorAccountFooterItem)
                        {
                            <li><a href="@Url.RouteUrl("ApplyVendorAccount")">@T("Vendors.ApplyAccount")</a></li>
                        }
                        @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn3).ToList())
                        {
                            <li><a href="@Url.RouteUrl("Topic", new {SeName = topic.SeName})">@topic.Name</a></li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-sm-12 px-0">

                <div class="footer-block follow-us">
                    <div class="social">
                        <div class="title">
                            <strong>@T("Footer.trend.with.us")</strong>
                        </div>
                        @await Component.InvokeAsync("SocialButtons")
                    </div>
                    <div class="get-app">
                        <div class="title">
                            <strong>@T("Footer.getapp") </strong>
                            <ul>
                                <li>
                                    <a href="#" class="logo"></a>
                                </li>
                                <li>
                                    <a href="@(!string.IsNullOrEmpty(Model.IOSAppLink)?Model.IOSAppLink:"https://apps.apple.com/us/app/alchub-alcohol-delivery/id1660914907")" target="_blank" class="apple" title="apple alchub"></a>
                                </li>
                                <li>
                                    <a href="@(!string.IsNullOrEmpty(Model.AndroidAppLink)?Model.AndroidAppLink:"https://play.google.com/store/apps/details?id=com.alchub.llc")" target="_blank" class="android" title="android alchub"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-lower">
        <div class="footer-info">
            <span class="footer-disclaimer">@T("Content.CopyrightNotice")</span>
            @if (Model.DisplayTaxShippingInfoFooter)
            {
                var inclTax = await workContext.GetTaxDisplayTypeAsync() == TaxDisplayType.IncludingTax;
                <span class="footer-tax-shipping">
                    @T(inclTax ? "Footer.TaxShipping.InclTax" : "Footer.TaxShipping.ExclTax", Url.RouteUrl("Topic", new { SeName = await Html.GetTopicSeNameAsync("shippinginfo") }))
                </span>
            }
        </div>
        @if (!Model.HidePoweredByNopCommerce)
        {
            <div class="footer-powered-by">
                @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
            Please find more info at https://www.nopcommerce.com/nopcommerce-copyright-removal-key*@
                @* Powered by <a href="@(OfficialSite.Main)" target="_blank" @(Model.IsHomePage ? string.Empty : "rel=nofollow")>nopCommerce</a>*@
            </div>
        }
        @await Component.InvokeAsync("StoreThemeSelector")
        <div class="footer-info team-info" style="display:none">
            <span class="footer-disclaimer">
                Team:
                <i>Bhautik Patel</i>,
                <i>Jayant Chaubey</i>,
                <i>Abhisekh Ranjan</i>
            </span>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.Footer, additionalData = Model })
</div>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.footer-block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1020) {
                $(this).siblings('.list').slideToggle();

            }
        });
    });
</script>
<script asp-location="Footer">
    $(document).ready(function () {
        $('.block .title').on('click', function () {
            var e = window, a = 'inner';
            if (!('innerWidth' in window)) {
                a = 'client';
                e = document.documentElement || document.body;
            }
            var result = { width: e[a + 'Width'], height: e[a + 'Height'] };
            if (result.width < 1030) {
                $(this).siblings('.listbox').slideToggle();
            }
        });
    });
</script>